.Friends{
  
    margin-left: 50px;
    background-color:rgb(240, 236, 236);
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px
}

.friendsCount{
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold; 
}
