.People{
    width: 472px;   
    padding: 40px 50px;
   background-color:rgba(248, 248, 248, 1);
   border-radius: 10px;

}

.peopleHeader{
    display: flex;
    justify-content: space-between;
}
.peopleHeader button{
    border: none;
    background-color:rgba(248, 248, 248, 1);
}
.searchPeopleInput{
    width:450px;
    margin-top: 32px;
    margin-bottom: 49px;
    padding-left: 20px;
    height: 53px;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    color:rgba(105, 105, 105, 1) ;
    background-color:rgba(226, 226, 226, 1) ;
    font-size: 20px;
}

